.sliderWrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0;
}


.Container {
    background-color: var(--primary-green);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-light);
    padding: 10px 50px;
}

.Container>h1 {
    font-weight: 600;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 25px 20px;
}

.sliderTrack {
    display: flex;
    animation: scroll 5s linear infinite;
}
.sliderWrapper:hover .sliderTrack {
  animation-play-state: paused;
}

 .overlay{
    display: flex;
    justify-content: center;
    align-items: center
    ;
 }
.box {
    min-width: 150px;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 22px;
}

.box:hover {
    transform: scale(1.05);
}


/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}