.container{
    display: flex;
    gap: 30px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    /* background-color: rgb(224, 224, 224); */
    background-color: var(--background-white);
    margin: 7px 14px;
    transition: all 0.5s ease;
    /* margin: 50px; */
}
.container:hover{
    box-shadow: 0px 10px 10px -10px black ;  
    transform: scale(1.02);
}
.container>div>img{
    width: 120px;
    height: 110px;
}
.tittles>h1{
    font-size: 20px;
}
.tittles>h2{
    font-size: 15px;
    color: var(--text-light);
    background-color: var(--primary-green);
    font-weight: 400;
    width: fit-content;
    padding: 3px;
}
.tittles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.courses>h4{
    font-weight: 300;
    margin-bottom: 30px;
}
.courses{
    width: 380px;
}

