.box{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(239 238 238);
    /* width: 33%;
    display: ; */
    /* height: 300px; */
}
.tileBox {
  width: 330px;
  padding: 30px 20px;
    background-color: rgb(239 238 238);
  border: 1px solid #ddd;
  /* border-radius: 8px; */
  /* text-align: center; */
  display: flex;
  gap: 20px;
}
.rightSide{
    width: 230px;
}

.tileImage {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.tileTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tileDescription {
  font-size: 13px;
  color: #333;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 60px;
}

.readMoreBtn {
  background-color: #e63946;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.enquiryBtn {
  background-color: #b2b60d;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}
