.Header {
    background-color: var(--primary-blue-dark);
    margin: 20px 50px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header>h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    letter-spacing: -.02em;
    color: var(--text-light);
    margin-top: 70px;


}

.Header>h2 {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    width: 800px;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 70px;
    margin-top: 25px;
}

.body {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.leftSection {
    width: 40%;
    background-color: var(--primary-blue-dark);
    height: 700px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    border: 2px solid #43674b;
}

.leftSection>h1 {
    font-weight: 900;
    line-height: 24px;
    font-size: 35px;
    color: var(--text-light);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}

.leftSection>span {
    display: block;
    width: 80px;
    height: 3px;
    background-color: var(--primary-blue-dark);
    margin: 8px auto 0;
    border-radius: 2px;
}

.leftSection>h2 {
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    color: var(--text-light);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
.card{
    background-color: var(--background-white);
    height: 220px;
    width: 230px;
    border-radius: 30px;
}
.card>h1{
    font-size: 25px;
    font-weight: 700;
    padding-top: 8px;
    margin-bottom: 8px;
    margin-left: 30px;
}
.card>p{
    color: var(--text-dark);
    width: 190px;
    margin-left: 30px;
    line-height: 24px;
}
.CardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}
/*  */
/*  */
.rightSection {
    /* width: 43%; */
    /* background-color: rgb(29 78 216); */
    /* height: 500px; */
}

.inputBox>div>input {
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    height: 2.5rem;
    padding-left: 15px;
    box-sizing: content-box;
    font-size: 12px;
}
.inputBox>div>input:focus , .inputBox>div>textarea:focus {
    border: 1px solid rgb(74, 173, 254);
}

.inputBox>div>textarea {
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    height: 95px;
    padding: 20px;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 12px;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.nameDiv {
    width: 200px;
    margin-right: 50px;
    margin-top: 40px;
    padding-right: 10px;

}

.phoneDiv {
    width: 200px;
    margin-top: 40px;
    padding-right: 10px;

}

.EmailDiv {
    width: 460px;;
    margin-top: 40px;
    padding-right: 10px;
}
.messageDiv{
    width: 440px;;
    margin-top: 40px;
    padding-right: 10px;
    margin-left: -20px;

}

.inputBox>div>input::placeholder {
    color: rgb(103, 102, 102);
}

.form {
    margin: auto;
    /* margin-top: 10px; */
    width: 600px;
    background-color: var(--primary-blue-dark);
    padding: 50px 10px;
    border-radius: 3px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-top: 4px solid #334f39;
    /* box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.2),  
     4px 4px 15px rgba(0, 0, 0, 0.2);   */

}
.form>h1{ 
    font-size: 48px;
    color: var(--text-orange);
    text-align: center;
    margin-bottom: 3px;
}
.form>h2{
color: var(--primary-blue-light);
text-align: center;
}
.btn {
    text-align: center !important;
    padding: 0.8rem !important;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background: var(--button3-bg);
    color: var(--text-light);
    padding: 2px 10px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    width: 70%;
    outline: none;
}
.btnDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cross{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
